<header>
  <h1>Burger Factory</h1>
</header>

<section class="undevoured-area">
  <h2>Undevoured</h2>

  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burger-undevoured}}
      {{/unless}}
    {{/each}}
  </ul>
</section>

<section class="devoured-area">
  <h2>Devoured</h2>

  <ol>
    {{#each burgers}}
      {{#if devoured}}
        {{> burger-devoured}}
      {{/if}}
    {{/each}}
  </ol>
</section>

<main>
  <form id="burger-form" novalidate>
    <div class="form-group">
      <label for="burger-name">Name</label>
      <input id="burger-name" type="text" placeholder="Example Burger" required>
    </div>

    <button class="button-primary" type="submit">Add Burger</button>
  </form>
</main>