<header>
  <h1>Burger</h1>
</header>

<section class="section-column undevoured-area">
  <div>
    <h2>Undevoured</h2>

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burger-undevoured}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>
</section>

<section class="section-column devoured-area">
  <div>
    <h2>Devoured</h2>

    <ol>
      {{#each burgers}}
        {{#if devoured}}
          {{> burger-devoured}}
        {{/if}}
      {{/each}}
    </ol>
  </div>
</section>

<main>
  <form class="form-column" id="burger-form" novalidate>
    <div class="form-group">
      <label for="burger-name">Name</label>
      <input id="burger-name" type="text" placeholder="Example Burger" pattern="(.|\s)*\S(.|\s)*" required>
      <p class="invalid-feedback" id="burger-name-feedback">Please enter a name.</p>
    </div>

    <button class="button-primary submit-button" type="submit">Add Burger</button>
  </form>
</main>