<h1>Burger Factory</h1>

<h2>Undevoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger-undevoured}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger-devoured}}
    {{/if}}
  {{/each}}
</ol>

<form id="burger-form" novalidate>
  <div class="form-group">
    <label for="burger-name">Name</label>
    <input id="burger-name" type="text" placeholder="Example Burger" required>
  </div>

  <button type="submit">Add Burger</button>
</form>