body {
  display: grid;
  grid-column: 1fr;
  grid-template-areas:
    "header"
    "undevoured"
    "devoured"
    "form";
}

h1 {
  border-bottom: .1em solid #ffffff;
  border-top: .1em solid #ffffff;
  display: inline-block;
  font-family: "Chewy", serif;
  font-size: 2em;
  font-weight: bold;
  padding: 0.83em 0;
}

h2 {
  font-family: "Chewy", serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.67em 0;
}

header {
  background-color: #3f3fff;
  color: #ffffff;
  grid-area: header;
  padding: 1em 0;
  text-align: center;
}

input {
  padding: 1em .75em;
}

label {
  font-family: "Arvo", serif;
  padding-right: 1em;
}

li {
  font-family: "Arvo", serif;
  padding: .5em 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: form;
}

p {
  font-family: sans-serif;
}

ol {
  list-style-type: decimal;
  padding-left: 1em;
}

ul {
  padding-left: 1em;
}


.burger-name {
  padding-right: .5em;
}

.button,
.button-primary {
  border: none;
  border-radius: .2em;
  color: #ffffff;
}

.button {
  background-color: #6f6f6f;
  padding: .5em;
}

.button:focus,
.button:hover {
  background-color: #9f9f9f;
}

.button-primary {
  background-color: #6f6fff;
  padding: 1em;
}

.button-primary:focus,
.button-primary:hover {
  background-color: #9f9fff;
}

.devoured-area {
  grid-area: devoured;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.form-group {
  padding: 1em 0;
}

.invalid {
  outline: .1em solid #ff0000;
}

.invalid-feedback {
  display: none;
  color: #ff0000;
  padding: 1em 0;
}

.list-item-burger {
  line-height: 1.5em;
}

.list-item-burger::before {
  content: "🍔";
  padding-right: .5em;
}

.section-column {
  align-items: start;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.submit-button {
  align-self: stretch;
}

.undevoured-area {
  grid-area: undevoured;
}


#burger-form {
  padding: 2em 0;
}


@media (min-width: 576px) {
  body {
    grid-auto-columns: auto 275px 275px auto;
    grid-template-areas:
      "header header header header"
      ". undevoured devoured . "
      ". form form .";
  }

  .section-column {
    align-items: center;
    padding: 0;
  }
}

@media (min-width: 768px) {
  body {
    grid-auto-columns: auto 350px 350px auto;
  }
}

@media (min-width: 992px) {
  body {
    grid-auto-columns: auto 400px 400px auto;
  }
}